<section class="element-four mt-5 pt-5">
          <div class="container">
                    <div class="row pt-0 text-left">
                              <div class="col-12 col-lg-12 px-5 px-sm-0">
                                        <h1 class="kata_meraka">Kata Mereka</h1>
                              </div>
                              <div class="w-100"></div>
                              <div class="col-12 mt-4 px-0">
                                <div class="row">
                                  <div class="col-11">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                      <ol class="carousel-indicators">
                                        <% for( let index = 0; index < Object.keys(testimoni).length; index++ ) { %>
                                          <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" <%= index == 0 ? 'class="active"' : ''%> ></li>
                                        <% } %>
                                      </ol>
                                      <div class="carousel-inner">
                                        <% for( let index = 0; index < Object.keys(testimoni).length; index++ ) { %>
                                          <div class="carousel-item <%= index == 0 ? 'active' : ''%> ">
                                            <div class="card mb-0" style="width: 100%;min-height: 180px;">
                                              <div class="card-body">
                                                <div class="row">
                                                  <div class="col-2 text-center pt-3">
                                                      <img class="img1 mb-0 mx-auto rounded-circle" src="static/img/<%= testimoni[index].img %>" alt="" style="height: 120px !important;width: 120px !important;">
                                                  </div>
                                                  <div class="col-10">
                                                    <p class="card-text testimoni-text ">"<%= testimoni[index].testimoni %>"</p>
                                                    <div>
                                                      <% for( let i = 0; i < testimoni[index].level; i++ ) { %>
                                                        <img class="img1 mb-0 rounded-circle" src="static/img/star.png" alt="" style="height: 20px !important;width: 20px !important;">
                                                      <% } %>
                                                    </div>
                                                    <h5 class="card-title testimoni-title mt-2"><%= testimoni[index].status %></h5>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        <% } %>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-1">
                                    <div class="btn-group-vertical" style="height: 100%;">
                                      <button type="button" class="btn btn-info"><img class="img1 mb-0 rounded-circle" src="static/img/forward.png" alt="" style="height: 20px !important;width: 20px !important;"></button>
                                      <button type="button" class="btn btn-info" style="background-color: #138496;transform: rotateY(180deg);"><img class="img1 mb-0 rounded-circle" src="static/img/forward.png" alt="" style="height: 20px !important;width: 20px !important;"></button>
                                    </div>
                                  </div>
                              </div>
                              </div>

                    </div>
          </div>
</section>